.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    /* background-color: #3498db; */
    /* color: white; */
    padding: 10px 20px;
    border: 1px solid #2980b9; 
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-toggle:focus {
    outline: none;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  