.footer {
    background-color: #7B0323;
}

.floating-phone {
    position: fixed; /* Fixed positioning to keep it on top */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100%; /* Take the full width */
    z-index: 9999; /* Set a high z-index to ensure it appears above other elements */
  }